# Environnement virtuel
venv/
.venv/
env/

# Byte-code Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
local_settings.py

# Variables d'environnement
.env
.env.local

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
